@charset "UTF-8";

/********
ヘッダー
********/
.header {

}
.header_inner {

}
.header_inner .header_nav_list {

}
.header_inner .header_nav_list li {
	position: relative;
}

.header_inner .header_nav_list li a {

}
.header_inner .header_nav_list li a img {
	display: block;
	position: relative;
	top: -9px;
}
/*************
ドロップダウン
*************/
.dropdown_header {
	display:none;
	background-color: #FCFCFC;
	border: 1px solid #E7E7E7;
	border-radius: 2px;
	margin: 13px 0 0;
	left: -272px;
	padding: 5px;
	position: absolute;
	width: 231px;
	top: 40px;
}
.dropdown_header::before,
.dropdown_header::after {
  bottom: 100%;
  right: 24px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
}
.dropdown_header::before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: #E7E7E7;
  border-width: 10px;
  margin-right: -10px;
}
.dropdown_header::after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #FCFCFC;
  border-width: 8px;
  margin-right: -8px;
}
.dropdown_header ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.dropdown_header ul li {
	margin: 0;
	display: block;
	float: none;
/*
	line-height: inherit;
	position: relative;
	text-align: inherit;
*/
}
.dropdown_header ul li a {
	display: block;
/*
	padding: 4px 10px 4px 15px;
	overflow: hidden;
	color: #24292e;
	text-overflow: ellipsis;
	white-space: nowrap;
*/
}

/*********
機能ページ
*********/
.function {
	width: 160px;
	background-color: #F8F8FA;
	height: 100%;
	height: 610px;
	float: left;
}
.function .function_inner {

}
.function .function_inner ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.function .function_inner ul li {
	margin: 0;
}
.function .function_inner ul li.now {
	background-color: #369FDD;
}
.function .function_inner ul li.now a {
	color: #FFFFFF;
}
.function .function_inner ul li.now a:hover {
	background-color: #369FDD;
}

.function .function_inner ul li a {
	display: block;
	padding: 15px;
	color: #72777B;
}
.function .function_inner ul li a:hover {
	background-color: #F2F2F4;
}



/*********
案件リスト
*********/
.sales_list {
	width: 220px;
	background-color: #FFFFFF;
	height: 100%;
	height: 610px;
	float: left;
	border-right: 1px solid #eee;
	overflow: scroll;
}
.sales_list .sales_list_inner {

}
.sales_list .sales_list_inner ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.sales_list .sales_list_inner ul li {
	border-bottom: 1px solid #eee;
}
.sales_list .sales_list_inner ul li a {
	display: block;
	padding: 15px;
	color: #72777B;
}
.sales_list .sales_list_inner ul li a:hover {

}
.sales_list .sales_list_inner ul li h1 {
	font-size: 18px;
}
.sales_list .sales_list_inner ul li p {

}
/*********/
.sales_list .sales_list_inner ul li.no_border {
	border-bottom: 0px solid #eee;
}
.sales_list .sales_list_inner ul li.float {
	background-color: #FCFCFC;
}



/*****
検索窓
*****/
.search_window {

}
.search_window input {
background-color: #FFF;
border-color: #eee;
border-radius: 2px;
border-style: solid;
border-width: 1px;
color: #3a3a3a;
display: inline;
font-size: 82%;
height: 18px;
margin: 15px 15px 0px 15px;
padding: 5px 0 5px 10px;
width: 96px;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}
/*************
案件作成ボタン
*************/
.sales_submit {
background-color: dodgerblue;
border-radius: 3px;
padding: 7px;
margin: 0px 15px 15px 15px;
text-align: center;
display: inline;
font-size: 14px;
color: #FFF;
cursor: pointer;
position: relative;
top: -30px;
left: 120px;
}


/***************
1024px以下の設定
***************/
@media screen and (min-width: 0px) and (max-width: 1024px) {

}
/***************
1023px以下の設定
***************/
@media screen and (min-width: 0px) and (max-width: 1023px) {

}
/**************
768px以下の設定
**************/
@media screen and (min-width: 0px) and (max-width: 768px) {

}
/**************
720px以下の設定
**************/
@media screen and (min-width: 0px) and (max-width: 720px) {

}
/**************
640px以下の設定
**************/
@media screen and (min-width: 0px) and (max-width: 640px) {

}
/**************
620px以下の設定
**************/
@media screen and (min-width: 0px) and (max-width: 620px) {
}
/**************
568px以下の設定
**************/
@media screen and (min-width: 0px) and (max-width: 568px) {

}
/**************
480px以下の設定
**************/
@media screen and (min-width: 0px) and (max-width: 480px) {

}
/**************
360px以下の設定
**************/
@media screen and (min-width: 0px) and (max-width: 360px) {

}
/**************
320px以下の設定
**************/
@media screen and (min-width: 0px) and (max-width: 320px) {

}